html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;  
    color: inherit;
}

a:hover {
    opacity: 0.8;   
}
 /* -----------------Reset---------- */

:root {
    font-size: 62.5%
}


html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

body {
    margin: 0 auto;
    font-size: 1.6rem;
    max-width: 800px;
}

nav {
    font-size: 2.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px red solid; */
    padding-bottom: 2rem;   
    margin: 1rem 1.5rem 5rem 1.5rem;
    border-bottom: 0.1rem solid black;


}

h1 {
    display: block;
    font-size: 2rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    display: flex;
    /* border: 1px solid red; */
    max-width: 850px;
    border-bottom: 0.1rem solid black;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.container1 {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid red; */
    max-width: 850px;
    border-bottom: 0.1rem solid black;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.left-side, .right-side {
    /* width: 50%; */
    /* border: 1px dashed blue;  */
}

.left-side img {
    width: 200px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.right-side {
    margin: 1rem;
}

.left-side img:hover {
    opacity: 0.8;
}